<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <style media="screen">
    .jumbotron {
      margin-top: 0px;
      margin-bottom: 0px;
    }

    .jumbotron h1 {
      text-align: center;
    }

  </style>

</head>

<body>

  {% include "papers/navbar.html" %}
  <br><br>
  <div class="jumbotron" style="margin-bottom:0px;">
    <h1 class="display-4">Faculty Login</h1>
    <p class="lead">Welcome to ICCBS Online Examination System</p>
    <hr class="my-4">
    <p>SIGN UP or LOGIN</p>
    <p class="lead">
      <a class="btn btn-secondary rounded-0" href="teachersignup" role="button">SIGNUP</a>
      <a class="btn btn-primary rounded-0" href="teacherlogin" role="button">LOGIN</a>
    </p>
    <br><br><br><br>
  </div>
  {% include "papers/footer.html" %}
</body>

</html>